.inputSidebar {
    position: relative;

    &__search {
        padding: 6px 8px;
        border: 1px solid #D5D8DD;
        border-radius: 4px;
        outline: none;
    }

    &__svg {
        height: 16px;
        width: 16px;
        position: absolute;
        top: 6px;
        right: 8px;
    }
}